<h1>Stupid Coaching</h1>
<div class="py-2">
  <div class="post px-4">
    <p><%= @question %></p>
    <p><i>- You</i></p>
  </div>

   <div id="answer">
  <div class="post px-4">
      <p><%= @answer%></p>
      <p><i>- Your coach</i></p>
  </div>
   </div>

  <div my-5 ><%= link_to "Ask a new question", ask_path %><div>
</div>
