<p>Ask your coach anything :</p>
<form action="/answer" data-turbo="false" class="d-flex">
  <input type="text" name="question" class="w-50 py-2" id="question-bar">
  <input type="submit" value="Ask!" class="p-2 px-3 border-0" id="ask-button">
</form>
